<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <link rel="icon" href="static/img/Logo.PNG">
		<link rel="stylesheet" type="text/css" href="static/css/index.css">
		<link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/assets/css/styles.css">
		<title>Orçamentos</title>
	</head>
	<body>
		<div>
			<img src="static/img/Logo.PNG" class="logo">
		</div>
		<div style="padding:50px;height:40%;">
			<div class="container">
				<div class="row">
					<div class="col-md-6 button_pag" onclick="document.location.href = 'fornecedor';">
						<img src="static/img/cadastro.png" class="icone">
						<p class="legenda">Cadastro de fornecedores</p>
					</div>
					<div class="col-md-6 button_pag" onclick="document.location.href = 'cliente';">
						<img src="static/img/cadastro.png" class="icone">
						<p class="legenda">Cadastro de clientes</p>
					</div>
				</div>
			</div>
		</div>
		<div style="padding:50px;height:40%;">
			<div class="container">
				<div class="row">
					<div class="col-md-6 button_pag" onclick="document.location.href = 'orcamento';">
						<img src="static/img/add_list.png" class="icone">
						<p class="legenda">Orçamentos</p>
					</div>
					<div class="col-md-6 button_pag" onclick="document.location.href = 'materia_prima';">
						<img src="static/img/cadastro.png" class="icone">
						<p class="legenda">Cadastro de matéria prima</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
